<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<h1>
    Hello World
</h1>
<p th:text="${nameisthetag}"> Welcome </p>
<!--<p th:text="${nameisthetagtwo}">Again Welcome </p>-->
<p>This is paragraph</p>
</body>
</html>